<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Soat-bêng (說明)</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Chit ê bāng-chām chéng-lí 1 kóa Pe̍h-ōe-jī ê ke-si, hong-piān tāi-ke lâi sú-iōng! Mā hoan-gêng thê-kiong
          bāng-chām.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <p>Chit ê網站整理1 kóa白話字ê ke-si，方便大家來使用！Mā歡迎提供網站。</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>