<!-- jQuery Version 1.11.0 -->
<script src="{{ " js/jquery-1.11.0.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ " js/bootstrap.min.js" }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ " js/jquery.easing.min.js" }}"></script>
<script src="{{ " js/classie.js" }}"></script>
<script src="{{ " js/cbpAnimatedHeader.js" }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ " js/jqBootstrapValidation.js" }}"></script>
{% if site.contact == "static" %}
<script src="{{ " js/contact_me_static.js" }}"></script>
{% else %}
<script src="{{ " js/contact_me.js" }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ " js/freelancer.js" }}"></script>

{% if site.contact == "disqus" %}
<!-- Disqus Stuff -->
{% include js_disqus.html %}
{% endif %}

<!-- Service Worker Registration -->
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function (registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function (err) {
                console.log('ServiceWorker registration failed: ', err);
            });
        });
    }
</script>